*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('/images/bg.jpg');
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    color: unset;
    &:hover{
        color: $main-color;
    }
}