*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background-image: url('./images/header.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    color: unset;
    &:hover{
        color: $main-color;
    }
}