header {
  width: 100%;
  height: 600px;
  background-image: url("/images/img-header.jpg");
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 5000ms;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  .header-bloc {
    width: 40%;
    height: auto;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.575);
    .new {
      color: white;
      font-size: 4em;
    }
    p {
      color: white;
      font-size: 2em;
    }
    .challenger {
      font-family: "Dancing Script", cursive;
    }
    @include forMobile{
      width: 100%;
    }
  }

  /*
  @keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05) translateX(-1%);
  }
  100% {
    transform: scale(1);
  }
}
*/
}


